@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Serif+Caption:ital@0;1&family=Playfair+Display:ital,wght@0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&display=swap");

$cor0: white;
$cor1: #011a32;
$cor2: #ffed48;
$cor3: #e03e36;
$cor4: #bd0d59;
$cor5: #730662;
$cor6: #1b325f;
$cor7: #9cc4e4;
$cor8: #e9f2f9;
$cor9: #1985dd;
$cor10: #cd679a;
$bannerRed: #f12c56;
$bannerBlue: #6fbbf9;
$bd-color: #555544;
$bg-color: black;
$bd-radius: 15px;
$font-scale: 1;
$font-size: 1rem * $font-scale;
$cubic: cubic-bezier(0.5, 0, 0.5, 1);

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Mixin para texto 3D
@mixin texto3d($color: $cor0, $size: 10vw, $weight:bolder) {
    @include sombra-texto-vívido($color);
    font-family: "Playfair Display", sans-serif;
    font-size: $size;
    text-align: center;
    color: $color;
    font-weight: $weight;
    transform-style: preserve-3d;
    z-index: 1000;
    &::before,
    &::after {
      content: attr(data-text);
      position: absolute;
      left: 25%;
      transform-origin: 0 100%;
      transform: translateZ(5px);
      width: 50%;
    }

    &::before {
      z-index: 1;
      transform: rotateX(5deg);
      transform-origin: left;
    }

    &::after {
      transform: rotateX(-5deg);
      transform-origin: right;
    }
    transition: all 0.5s ease-in-out;

    &:hover {
      transform: rotateX(5deg) rotateY(5deg);
    }
}

@mixin sombra-texto-vívido($cor: #000) {
  text-shadow: 1px 5px 5px rgba(0,0,0, 0.5);
}

// Mixin para sombra de texto
@mixin sombra-texto($cor: #000) {
  text-shadow: 2px 2px 2px rgba($cor, 0.3);
}

// Mixin para transição
@mixin transicao($propriedade) {
  transition: $propriedade 0.3s $cubic;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
